<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form class="form-signin" method="post" action="/signup">
            <h2 class="form-signin-heading">注册</h2>
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="username" name="username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="password1" name="password" required>
            <input type="password" class="form-control" placeholder="password2" name="re_password" required>
            {{ if .error }}
            {{ range .msg }}
            <p>{{ . }}</p>
            {{ end }}
            {{ end }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
        </form>
    </div>
</body>
</html>